<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />
    
    <!-- Font awesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
     integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
     crossorigin="anonymous" 
     referrerpolicy="no-referrer" />
</head>
<body class="bg-pink-100">



  <!-- User is Login  -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>
    </div>

    

    <!-- user Not login -->
    <div th:unless="${loggedInUser}">
      <div data-th-replace="~{navbar :: navbar}"></div>
    </div>
    

    <div class="">
      <section data-th-replace="${content}"></section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <!-- <th:block data-th-replace="${script}"></th:block> -->
</body>
</html>